<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <property name="logDir" value="logs"/>

    <appender name="ordersparserFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/ordersparser.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logDir}/ordersparser.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread%X{cubaApp}%X{cubaUser}] %logger - %msg%n</pattern>-->
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.sergeytoropov.orders.parser" level="TRACE">
        <appender-ref ref="ordersparserFile"/>
    </logger>

<!--
    <root>
        <appender-ref ref="ordersparserFile"/>
    </root>
-->

</configuration>
